.my-day-section {
  margin-top: 1rem;
  width: 50%;
}

.my-day-title {
  background-color: #edf9f1;
  padding: 0.5rem;
  text-align: center;
  border-top: 2px solid #a7dab8;
  border-bottom: 1px solid #a7dab8;
  font-weight: bold;
  color: #7a7a7a;
}

.my-day-table {
  display: table;
  width: 100%;
  gap: 0.5rem;
  border-collapse: collapse;
  margin-top: -1.2rem;
  text-align: center;
}

.row {
  display: table-row;
  border-bottom: 1px solid #a7dab8;
}

.row span {
  display: table-cell;
  padding: 0.8rem;
  vertical-align: middle;
  border-right: 1px solid #a7dab8;
}

.time-header {
  background-color: #a7dab8;
}

.my-day-input-box {
  padding: 0.5rem;
  border: none;
  background: none;
  display: table-cell;
  width: 100%;
  margin-top: 0.5rem;
  resize: none;
  box-sizing: border-box;
}

.todayNews-input-box {
  padding: 0.5rem;
  border: none;
  background: none;
  display: table-cell;
  width: 270%;
  margin-top: 0.5rem;
  resize: none;
  box-sizing: border-box;
}

.diary-met-people,
.diary-expenses {
  border-left: 1px solid #a7dab8;
}

.tasks-section {
  margin-top: 1rem;
}
