.time-table {
  margin-top: 1.18rem;
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-top: -1.2rem;
  table-layout: fixed;
  border-top: 2px solid #a7dab8;
}

tr {
  display: table-row;
}

tr th {
  display: table-cell;
  padding: 0.8rem;
  vertical-align: middle;
}

th,
td {
  text-align: center;
  padding: 1rem;
  vertical-align: middle;
  border-bottom: 1px solid #a7dab8;
}

th {
  font-weight: bold;
  color: #7a7a7a;
  font-size: 1.1rem;
}

.time-table-des-box {
  border-right: 1px solid #a7dab8;
  color: #7a7a7a;
  font-weight: bold;
}

.th-importantThing {
  width: 78%;
}

.th-time {
  width: 15.1%;
  background-color: #edf9f1;
  border-right: 1px solid #a7dab8;
}

.time-table-input {
  padding: 0.5rem;
  border: none;
  background: none;
  width: 100%;
  margin-top: 0.5rem;
  box-sizing: border-box;
  resize: none;
}

.time-table-time {
  width: 28.9%;
  border-right: 1px solid #a7dab8;
}

.time-table-input-box {
  border-bottom: 1px solid #a7dab8;
  width: 255%;
}
